.hex-container {
	position: relative;
	overflow: hidden;
	height: 100vh;
	animation: animate 4s linear infinite;
}
@keyframes animate {
	0% {
		filter: hue-rotate(0deg);
	}
	100% {
		filter: hue-rotate(360deg);
	}
}
.row {
	display: inline-flex;
	margin-left: -50px;
	margin-top: -32px;
	overflow: hidden;
}
.row:nth-child(even) {
	margin-left: 1px;
}
.hexagon {
	position: relative;
	height: 110px;
	width: 100px;
	background: transparent;
	margin: 1px;
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	transition: 2s;
}

.hexagon:hover {
	transition: 0s;
	background: #0f0;
}
